body {background-color: rgb(145, 250, 131);}
#color-button { background-color: rgb(255, 27, 175);
color: aliceblue;}
#needy-button { background-color: rgb(149, 35, 255);
color: aliceblue;}
#very-button {background-color: rgb(41, 41, 255);
color: aliceblue;}