#creature-list {
    background-color: rgb(203, 239, 164);
    padding: 20px;
    margin-top: 10px;
}

body {
    background-color: rgb(254, 255, 203);
}

#crAdd {
    background-color: #afe785;
    margin-left: 20px;
}

#creature-form {
    background-color: rgb(235, 237, 129);
    padding: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
}